
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<div th:fragment="message">
    <div th:if="${message_error}" class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p th:text="*{message_error}"></p>
    </div>

    <div th:if="${message_success}" class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p th:text="${message_success}"></p>
    </div>
</div>

</html>
