<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="Layout/Layout"
      lang="pt-BR"
>


<head>
    <script th:src="@{/js/Education/Education.js}"></script>
</head>

<div layout:fragment="principal">

    <div class="uk-margin-top uk-align-center uk-width-1-2 uk-text-center">

        <h2>Software Ecosystem</h2>
        <p>Software ecosystem – a set of actors functioning as a unit and interacting with a shared market for software and services,
            together with the relationships among them. These relationships are frequently underpinned by a common technological platform
            or market and operate through the exchange of information, resources and artifacts.</p>

    </div>




</div>

</html>
