<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="Layout/Layout" lang="pt-BR">


<head>

</head>

<div layout:fragment="principal">

    <div class="uk-margin-top uk-align-center uk-width-1-2@m uk-box-shadow-xlarge uk-padding">

        <div class="uk-text-center">
            <h2 class="uk-heading-line uk-text-center"><span>Sign up for ARIEL</span></h2>
        </div>

        <div th:replace="~{Layout/Message :: message}" th:remove="tag"></div>

        <form th:action="@{/signUp}" class="uk-grid-small uk-margin-small-left uk-margin-small-right uk-child-width-1-2@m"
              uk-grid="" method="POST" th:object="${user}">

            <div>
                <label class="uk-form-label" for="name">Name</label>
                <input class="uk-input"  maxlength="150" type="text"  cssErrorClass="uk-form-danger" id="name" th:field="*{name}"/>
                <span class="uk-label uk-label-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <div>
                <label class="uk-form-label" for="username">Username</label>
                <input class="uk-input" maxlength="50" type="text" cssErrorClass="uk-form-danger" id="username" th:field="*{username}"/>
                <div class="uk-label uk-label-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>

            <div>
                <label class="uk-form-label" for="email">Email</label>
                <input class="uk-input"  maxlength="150" type="text"  cssErrorClass="uk-form-danger" id="email" th:field="*{email}"/>
                <span class="uk-label uk-label-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>

            <div>
                <label class="uk-form-label" for="institution">Institution</label>
                <input class="uk-input" maxlength="150" type="text"  cssErrorClass="uk-form-danger" id="institution" th:field="*{institution}"/>
                <span class="uk-label uk-label-danger" th:if="${#fields.hasErrors('institution')}" th:errors="*{institution}"></span>
            </div>

            <div>
                <label class="uk-form-label" for="password">Password</label>
                <input class="uk-input" type="password"  cssErrorClass="uk-form-danger" id="password" th:field="*{password}"/>
                <span class="uk-label uk-label-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>

            <div>
                <label class="uk-form-label" for="confirmPassword">Confirm password</label>
                <input class="uk-input" type="password"  cssErrorClass="uk-form-danger" id="confirmPassword" th:field="*{confirmPassword}"/>
                <span class="uk-label uk-label-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
            </div>


            <div class="uk-width-1-1">
                <input class="uk-button ar-button-primary uk-align-center uk-width-medium" type="submit" value="Sign Up" />
            </div>

            <div class="uk-width-1-1 uk-text-center">
                <span>Already have a registration? <a id="loginHere" sec:authorize="isAnonymous()" th:href="@{/signIn}">Log in here!</a></span>
            </div>

        </form>

    </div>

</div>
</html>

