<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="Layout/Layout"
      lang="pt-BR"
>


<head>
    <script th:src="@{/js/About/About.js}"></script>
</head>

<div layout:fragment="principal">

    <div class="uk-margin-top uk-align-center uk-width-1-2 uk-text-center">
        <h2><b>ARIEL</b>: <b>A</b> <b>R</b>epos<b>I</b>tory of software ecosyst<b>E</b>ms mode<b>L</b>s</h2>

        <p>ARIEL is a repository for managing software ecosystems models.
            Ariel is currently being developed by Igor Rodrigues, a student at the Federal University of
            Ceará of the Digital Systems and Media course in partnership with professors Leonardo
            Moreira and Emanuel Countinho.</p>
    </div>




</div>

</html>
